services:
  sketchflow-ai:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    restart: unless-stopped
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    labels:
      - "com.docker.compose.project=sketchflow-ai"